.cartao {
  max-height: 100px;
  background: rgb(0, 0, 0);
  padding: 20px;
  padding-top: 50px;
  margin: 10px;
  width: 31%;
  text-align: center;
  overflow: auto;
}

.btn-detalhes {
  max-height: 50px;
  background-color: #0671c8;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  width: 170px;
  margin: 30px 0px;
}

.btn-detalhes:hover {
  background-color: #008cff;
  color: #fff;
  box-shadow: none;
  padding-bottom: 3px;
}
