.cartao {
  background: black;
  padding: 20px;
  margin: 10px;
  max-width: 25%;
  height: fit-content;
  overflow: auto;
}

.btn-detalhes {
  background-color: #0671c8;
  color: #fff;
}

.btn-detalhes:hover {
  background-color: #008cff;
  color: #fff;
  box-shadow: none;
  padding-bottom: 3px;
}

.texto-text {
  max-height: fit-content;
  overflow: auto;
}

.cartao-expirado {
  background-color: rgba(5, 5, 5, 0.2);
}

.cartao-emandamento {
  background-color: rgba(144, 136, 14, 0.52);
}

.cartao-reservado {
  background-color: rgba(255, 0, 0, 0.2);
}
