.cartao {
  height: 300px;
  background: black;
  padding: 20px;
  padding-top: 30px;
  margin: 10px;
  width: 31%;
  overflow: auto;
}

.btn-detalhes {
  background-color: #0671c8;
  color: #fff;
}

.btn-detalhes:hover {
  background-color: #008cff;
  color: #fff;
  box-shadow: none;
  padding-bottom: 3px;
}

.texto-text {
  max-height: fit-content;
  overflow: auto;
}

.cartao-expirado {
  background-color: rgba(5, 5, 5, 0.2);
}

.cartao-emandamento {
  background-color: rgb(144, 136, 14, 0.52);
}

.cartao-reservado {
  background-color: rgb(255, 0, 0, 0.2);
}
