.cartao {
  height: 500px;
  background: black;
  padding: 20px;
  padding-top: 30px;
  margin: 10px;
  width: 31%;
  overflow: auto;
}

.btn-detalhes {
  background-color: #0671c8;
  color: #fff;
}

.btn-detalhes:hover {
  background-color: #008cff;
  color: #fff;
  box-shadow: none;
  padding-bottom: 3px;
}

.img-cartao {
  padding: 10px;
  max-height: 100px;
  max-width: 50%;
}

.conteudo-card {
  margin-top: 15px;
  text-align: left;
}
