.cartao {
  min-height: 360px;
  background: rgb(0, 0, 0);
  padding: 20px;
  padding-top: 30px;
  margin: 10px;
  width: 31%;
  overflow: auto;
}

.img-cartao {
  padding: 10px;
  max-height: 100px;
  max-width: 50%;
}

.conteudo-card {
  margin-top: 15px;
  text-align: left;
}
