.agendamento-content {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  /* background-color: blue; */
  border-radius: 20px;
}

.btn-cadastro {
  background-color: #0671c8;
  color: #fff;

  font-weight: bold;
  border-radius: 10px;
  max-height: 50px;
  width: 150px;
  margin: 30px 0px;
}

.btn-cadastro:hover {
  background-color: #008cff;
  color: #fff;
}

.center {
  text-align: center;
}

.input-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* max-width: 70%; */
  margin: auto;
}

textarea {
  width: 55%;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  margin-bottom: 30px;
}
